<!DOCTYPE html>
<html>
<head>
    <title>Produtos - TechVibe</title>
    <link rel="stylesheet" href="/stylesheets/produts.css">
</head>
<body>
    <%- include('./partials/cabecalho') %>
    
    <h1>Todos os Produtos</h1>
    
    <div class="products-grid">
        <% produtos.forEach(produto => { %>
            <div class="product-card">
                <img src="<%= produto.imagens[0] %>" alt="<%= produto.nome %>">
                <h2><%= produto.nome %></h2>
                <p><%= produto.descricao %></p>
                <p>R$ <%= produto.preco.toFixed(2) %></p>
                <a href="/produtos/<%= produto._id %>" class="btn">Ver Detalhes</a>
            </div>
        <% }); %>
    </div>
    
    <%- include('./partials/rodape') %>
</body>
</html>